<div voxel-game class="canvas-frame">
  <p class="status">.... the dream grows fuzzy ....</p>
  <img class="logo" src="img/logo-white.png">
  
  <div class="crosshair">
    <img src="img/crosshair.png"/>
  </div>

  <nav class="bar-tab" id="tools">
    <ul class="tab-inner">
      <li class="tab-item active">
        <img class="tab-icon" src="../node_modules/painterly-textures/textures/obsidian.png">
        <div class="tab-label" data-id="1">obsidian</div>
      </li>
      <li class="tab-item">
        <img class="tab-icon" src="../node_modules/painterly-textures/textures/grass.png">
        <div class="tab-label" data-id="2">grass</div>
      </li>
      <li class="tab-item">
        <img class="tab-icon" src="../node_modules/painterly-textures/textures/brick.png">
        <div class="tab-label" data-id="3">brick</div>
      </li>
    </ul>
  </nav>
</div>