/* app css stylesheet */

body {
  background-color: #ffffff;
}

a {
  color: #aaaaaa
} 

.canvas-frame {
  position: relative;
}

#container {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  width: 32px;
  height: 32px;
}

.status {
  position: absolute;
  left: 5%;
  color: #ffffff;
}

#dream-nav {
  border-right: 2px solid #000000;
}

.logo {
  position: absolute;
  top: 5%;
  left: 5%
}

#stats { 
  position: absolute;
  bottom: 0px; 
  right: 0px; 
}

.bar-tab {
  position: absolute;
  right: 33% !important; 
  left: 33% !important; 
}

[class*="bar-"] {
  position: absolute;
}

.errorMessage { text-align: center; width: 200px; margin: 20px auto; }